@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css");

/* all tricks are there
https://webdesign.tutsplus.com/tutorials/create-a-stylish-dark-contact-form-with-html-css-and-javascript--cms-33201 */

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5vmin;
  line-height: 7vmin;
  color: #bbb;
}

body {
  height: 100%;
  width: 100%;

  background: #111;
}

h1 {
  font-size: 6vmin;
  line-height: 8vmin;
}

input {
  border: 0px solid;
  background: transparent;
  width: 100%;

  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
}

button:hover,
input:focus {
  transform: scale(1.05);
}

table {
  border-spacing: 0;
  width: 100%;
  text-align: center;
}
th,
td {
  padding: 1vmin 2vmin;
  border-right: 1px solid #909090;
  border-bottom: 1px solid #909090;
}

button {
  margin-left: 2vmin;
  padding: 1vmin;
  background: #f2f2f2;
  color: #141313;
  /* background-image: url(); */
  min-width: 15vmin;
}

.title {
  height: 8vh;
  min-height: 10vmin;
  padding: 3vmin 3vmin 0 3vmin;
  text-align: right;
}

.measurements {
  padding: 0 3vmin;
}

.buttons {
  padding: 0;
  position: absolute;
  bottom: 3vmin;
  right: 3vmin;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background: #222;
}

td.spacer {
  background: black;
  border-right: 1px solid black;
}

td:last-child,
th:last-child {
  border-right: 0px solid;
}

td.right-span {
  border-right: 0px solid;
}

.data-row:hover {
  background: #444;
}

.icon {
  font: 5vmin fontawesome;
  color: #141313;
  padding: 0 2vmin;
}

.attention {
  background: #eb5757;
}
